{% extends "base.html" %}


{% block title %} Real-time particle sensor plot {% endblock %}

{% block main %}
        <ul id="location_checkbox_list">Location :
            {% for location in locationList %}
                <li><input type="checkbox" class="location" id="checkbox_{{location}}" name={{location}}>{{location}}</li>
            {% endfor %}
        </ul>
        <ul>
            Data type : 
            <select id="dataType" value="avg">
                <option value="avg">3_min_avg</option>
                <option value="max">3_min_max</option>
                <option value="raw">raw data</option>
            </select>
        </ul>
        <ul>
            From : <input type ="date" id="startDate" value="{{startDate}}"> To : <input type ="date" id="endDate" value="{{endDate}}">
        </ul>
            <input type="button" onClick="cb();" value="Query">
            <input type='button' onClick="download();" value="Download">
            <input type='button' onClick="delete_history();" value="Delete">
        <a id="download"></a>
        <ul id="plotList"></ul>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/google_api_ajax.js')}}"></script>
<script src="{{url_for('static', filename='js/plotly-latest.min.js')}}"></script>
<script>
    returnJSONFormat = {
        "downloadFile" : false,
        "location"   : [],
        "sizeBinary": 15,
        "dataType": ""
    }
    
    function get_location(){
        var location = [];
        document.querySelectorAll('.location').forEach((item, idx) =>{
            if (item.checked){
                location.push(`${item.name}`);
            }
        });
        return location
    }
    
    function get_date(){
        return [document.getElementById('startDate').value,document.getElementById('endDate').value]
    }
    
    const plotList = document.getElementById("plotList");
    
    function cb(){
        var returnJSON = returnJSONFormat;
        returnJSON.location =  get_location();
        returnJSON.dataType = document.getElementById("dataType").value;

        if (returnJSON.location.length == 0) alert("Select the location checkbox to query data.");
        else{            
            [returnJSON.startDate, returnJSON.endDate] = get_date();
            $.getJSON({
                url: "/callback"+"?returnJSON="+JSON.stringify(returnJSON), success: plot
            })
        }
    }
    
    function plot(result){
        const plotListElement = document.getElementById("plotList");
        plotListElement.innerHTML = '';
        Object.entries(result).forEach(([key, value]) => {
            let chart = document.createElement('li');
            
            let chartHeader = document.createElement('h2');
            chartHeader.innerHTML = `${key}`;
            chart.appendChild(chartHeader);
            
            let chartPlot = document.createElement('div');
            chartPlot.id = `chart${key}`;
            chart.appendChild(chartPlot);
            
            plotListElement.appendChild(chart);
            
            Plotly.newPlot(`chart${key}`, JSON.parse(`${value}`), {});
        });
    }
    
    function download(){
        var returnJSON = returnJSONFormat;
        returnJSON.location =  get_location();
        if (returnJSON.location.length == 0){
            alert("Select the location checkbox to query data.");
        }
        else{            
            [returnJSON.startDate, returnJSON.endDate] = get_date();
            returnJSON.downloadFile = true;
            
            var url = "/callback"+"?returnJSON="+JSON.stringify(returnJSON);
            var req = new XMLHttpRequest();
            req.open("GET", url, true);
            req.responseType = "blob";
            req.onload = function(event){
                var blob = req.response;
                var filename = req.getResponseHeader('content-disposition').split('filename=')[1].split(';')[0];
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = filename;
                link.click();
            }
            req.send();
        }
    }
    
    function delete_history(){
        var returnJSON = returnJSONFormat;
        returnJSON.location =  get_location();
        if (returnJSON.location.length == 0) alert("Select the location checkbox to query data.");
        else{            
            [returnJSON.startDate, returnJSON.endDate] = get_date();
            let check_delete = prompt("Type 'delete' to delete the data in " + returnJSON.location +" from " + returnJSON.startDate + " to " + returnJSON.endDate);
            if (check_delete == "delete"){
                $.get({
                    url: "/delete"+"?returnJSON="+JSON.stringify(returnJSON)
                })
            }
            
            console.log("OK");
        }
    }

</script>
{% endblock %}
